@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Learn about cooking with Preston</h1>
    <h3>I love food. I particularly love eating it, but I also love making it. </h3>
    <p>From a young age, I loved participating in the kitchen. This started by helping my parents. Both of my parents cook. My mom is an accomplished baker, and my dad loves to cook new things. I was influenced by both of them growing up. I love trying new things and cooking whenever I can.</p>
    <p>One of my favorite classes that I have taken in college was an intro to culinary arts class. Sorry Professor Hilton, but nothing quite beats spending 3 hours on Monday afternoon cooking and eating food. And you get college credit for it too. This class was really a pivotal thing for me when it comes to cooking. I really refined techniques such as knife work, and I developed a much deeper understanding of different ingredients and methods.</p>
    <p>I try to set aside time every day to cook. I particularly like cooking Chinese food and pasta. Sometimes those overlap, and it's fantastic. However, I will try and cook anything. I really enjoy cooking for holidays and family gatherings, as it gives me the opportunity to try cooking different dishes than I normally do. One of my favorite dishes that I cooked was a beef wellington that I worked with my dad to make for our family for New Years. While presentation is not my strong suit, I do try and make my food look good.</p>
    <img src="~/img/welly.jpg" class="my_img" /><img src="~/img/bleu.jpg" class="my_img" /><img src="~/img/chinese.jpg" class="my_img" />
</div>
